@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.bg-custom-gradient {
  background-image: radial-gradient(circle, #280537, #330544, #3e0551, #4a035e, #56006b) !important;
}

.bg-customer-blue {
  background-color: #071a33 !important;
}

.bg-customer-text-blue {
  color: #1e3a5f;
}